name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  testing:
    name: 'OS: ${{ matrix.os }}'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        node-version: [10.x]
        os: [windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Installation
        run: npm install
      - name: Run test suite
        run: |
          npm run test:coverage
          node scripts/absolute2relative.js
        env:
          CI: true
      - name: Save code coverage
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}.lcov
          path: .coverage/lcov.info
  analysis:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: testing

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout project code
        uses: actions/checkout@v1
      - name: Load windows-latest code coverage
        uses: actions/download-artifact@master
        with:
          name: windows-latest.lcov
          path: .coverage/windows
      - name: Load macOS-latest code coverage
        uses: actions/download-artifact@master
        with:
          name: macOS-latest.lcov
          path: .coverage/macOS
      - name: Run Sonar Scanner
        run: sh scripts/sonar-scanner.sh
        env:
          SONAR_SCANNER_VERSION: 4.0.0.1744
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
